name: Build ungoogled chromium
on: [push, pull_request]

jobs:
    prepare:
        runs-on: ubuntu-20.04
        container:
            image: justkdng/arch-build-chromium
        steps:
            - name: Checkout latest commit
              uses: actions/checkout@v2
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
            - name: Update system
              run: pacman -Syu --noconfirm
            - name: Setup environment
              run: .github/workflows/build/env.sh
            - name: Prepare sources
              run: sudo -u build -H bash -c .github/workflows/build/prepare.sh
            - name: Upload sources
              uses: actions/upload-artifact@v2
              with:
                  name: src1
                  path: /home/build/src.tar.zst
    build_1:
        runs-on: ubuntu-20.04
        needs: prepare
        container:
            image: justkdng/arch-build-chromium
        steps:
            - name: Checkout latest commit
              uses: actions/checkout@v2
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
            - name: Download artifacts
              uses: actions/download-artifact@v2
              with:
                  name: src1
            - name: Update system
              run: pacman -Syu --noconfirm
            - name: Setup environment
              run: .github/workflows/build/env.sh
            - name: Extract sources
              run: .github/workflows/build/extract.sh
            - name: Build package
              run: sudo -u build -H bash -c .github/workflows/build/build.sh
            - name: Upload sources
              uses: actions/upload-artifact@v2
              with:
                  name: src2
                  path: /home/build/src.tar.zst
    build_2:
        runs-on: ubuntu-20.04
        needs: build_1
        container:
            image: justkdng/arch-build-chromium
        steps:
            - name: Checkout latest commit
              uses: actions/checkout@v2
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
            - name: Download artifacts
              uses: actions/download-artifact@v2
              with:
                  name: src2
            - name: Update system
              run: pacman -Syu --noconfirm
            - name: Setup environment
              run: .github/workflows/build/env.sh
            - name: Extract sources
              run: .github/workflows/build/extract.sh
            - name: Build package
              run: sudo -u build -H bash -c .github/workflows/build/build.sh
            - name: Upload sources
              uses: actions/upload-artifact@v2
              with:
                  name: src3
                  path: /home/build/src.tar.zst
    build_3:
        runs-on: ubuntu-20.04
        needs: build_2
        container:
            image: justkdng/arch-build-chromium
        steps:
            - name: Checkout latest commit
              uses: actions/checkout@v2
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
            - name: Download artifacts
              uses: actions/download-artifact@v2
              with:
                  name: src3
            - name: Update system
              run: pacman -Syu --noconfirm
            - name: Setup environment
              run: .github/workflows/build/env.sh
            - name: Extract sources
              run: .github/workflows/build/extract.sh
            - name: Build package
              run: sudo -u build -H bash -c .github/workflows/build/build.sh
            - name: Upload sources
              uses: actions/upload-artifact@v2
              with:
                  name: src4
                  path: /home/build/src.tar.zst
    build_4:
        runs-on: ubuntu-20.04
        needs: build_3
        container:
            image: justkdng/arch-build-chromium
        steps:
            - name: Checkout latest commit
              uses: actions/checkout@v2
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
            - name: Download artifacts
              uses: actions/download-artifact@v2
              with:
                  name: src4
            - name: Update system
              run: pacman -Syu --noconfirm
            - name: Setup environment
              run: .github/workflows/build/env.sh
            - name: Extract sources
              run: .github/workflows/build/extract.sh
            - name: Build package
              run: sudo -u build -H bash -c .github/workflows/build/build.sh
            - name: Upload sources
              uses: actions/upload-artifact@v2
              with:
                  name: src5
                  path: /home/build/src.tar.zst
    package:
        runs-on: ubuntu-20.04
        needs: build_4
        container:
            image: justkdng/arch-build-chromium
        steps:
            - name: Checkout latest commit
              uses: actions/checkout@v2
              with:
                  ref: ${{ github.event.pull_request.head.sha }}
            - name: Download artifacts
              uses: actions/download-artifact@v2
              with:
                  name: src5
            - name: Update system
              run: pacman -Syu --noconfirm
            - name: Setup environment
              run: .github/workflows/build/env.sh
            - name: Extract sources
              run: .github/workflows/build/extract.sh
            - name: Build package
              run: sudo -u build -H bash -c .github/workflows/build/package.sh
            - name: Upload package
              uses: actions/upload-artifact@v2
              with:
                  name: artifact
                  path: /home/build/artifacts

        
